*:focus {
    outline: none !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-fluid {
    background-color: #F4F4F4;
    min-height: 100vh;
    color: white;
}

.relative {
    position: relative;
}

.container-fluid {
    .container {
        margin: 0 auto;
        padding: 0;
    }
}
