*:focus {
    outline: none !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-fluid {
    background-color: #2c3e50;
    min-height: 100vh;
    color: white;
}

.relative {
    position: relative;
}
