@import 'colors';

*:focus {
    outline: none !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-fluid {
    background-color: #F4F4F4;
    min-height: 100vh;
    color: white;

    &.asphalt {
        background-color: $asphalt;
    }
}

.relative {
    position: relative;
}

.container-fluid {
    .container {
        margin: 0 auto;
        padding: 0;
    }
}

.modal-lg.modal-dialog {
    padding-top: 20%;
}

.btn {
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
    left: 50%;
    margin-left: -200px;
    top: 30%;
    width: 400px;
}

.modal-body {
    padding: 0 15px;
}

.modal-header, .modal-footer {
    border: none;
}

.fa-plus-circle {
    font-size: 50px;
}

.form-wrapper {
    input {
        margin: 5px;
        margin-left: 0;
        color: black;
        padding: 20px;
        border: none !important;
        border-radius: 0;
    }
}

.btn-default {
    color: #333;
    background-color: #A6ABAF;
    width: 100%;
    border-radius: 0;
    color: white;
    text-transform: uppercase;
    border: none;
    transition-duration: 0.3s;
    &:hover {
        background-color: #DFBA2E;
    }
}
