*:focus {
    outline: none !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container-fluid {
    background-color: #F4F4F4;
    min-height: 100vh;
    color: white;
}

.relative {
    position: relative;
}

.container-fluid {
    .container {
        margin: 0 auto;
        padding: 0;
    }
}

.modal-lg.modal-dialog {
    padding-top: 20%;
}

.btn {
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
    left: 50%;
    margin-left: -200px;
    top: 30%;
    width: 400px;
}

.modal-body {
    padding: 0 15px;
}

.modal-header, .modal-footer {
    border: none;
}

.fa-plus-circle {
    font-size: 50px;
}
